### RNN

Apple stock csv

In [36]:
import torch 
import torch.nn as nn 
import torch.nn.functional as F 
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

### Dataset

In [37]:
df = pd.read_csv("appl_1980_2014.csv")
df

            Date   Open   High    Low  Close     Volume  Adj Close
0       8/7/2014  96.27  96.80  93.92  95.35   65130000      95.35
1       7/7/2014  94.14  95.99  94.10  95.97   56305400      95.97
2       3/7/2014  93.67  94.10  93.20  94.03   22891800      94.03
3       2/7/2014  93.87  94.06  93.09  93.48   28420900      93.48
4       1/7/2014  93.52  94.07  93.13  93.52   38170200      93.52
...          ...    ...    ...    ...    ...        ...        ...
8459  18/12/1980  26.63  26.75  26.63  26.63   18362400       0.41
8460  17/12/1980  25.87  26.00  25.87  25.87   21610400       0.40
8461  16/12/1980  25.37  25.37  25.25  25.25   26432000       0.39
8462  15/12/1980  27.38  27.38  27.25  27.25   43971200       0.42
8463  12/12/1980  28.75  28.87  28.75  28.75  117258400       0.45

[8464 rows x 7 columns]

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8464 entries, 0 to 8463
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       8464 non-null   object
 1   Open       8464 non-null   float64
 2   High       8464 non-null   float64
 3   Low        8464 non-null   float64
 4   Close      8464 non-null   float64
 5   Volume     8464 non-null   int64
 6   Adj Close  8464 non-null   float64
dtypes: float64(5), int64(1), object(1)
memory usage: 463.0+ KB

In [43]:
cond = (df.Date.dt.year)

AttributeError: Can only use .dt accessor with datetimelike values