### Classification 2: (Fruit 3 class)

Grape, Lemon, Orange

### Dataset

In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('data/fruit3class.csv')

In [7]:
df

      m    d  target
0   6.0  4.2       0
1   5.7  3.6       0
2   6.5  5.5       0
3   6.6  3.2       0
4   6.9  5.9       0
5   8.0  3.1       0
6   8.2  4.4       1
7   7.0  4.8       1
8   7.5  3.8       1
9   7.4  5.1       1
10  8.9  5.2       2
11  8.0  6.0       2
12  9.0  4.0       0
13  6.1  5.0       0
14  8.7  3.5       0

### Data Visualization